@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-muted: var(--color-slate-100);
  --color-muted-2: var(--color-gray-200);
  --color-neutral: var(--color-white);
  --color-primary: var(--color-black);
  --color-accent: var(--color-sky-600);
}

@layer base {
  * ::-webkit-scrollbar {
    @apply w-1 h-1.5;
  }

  * ::-webkit-scrollbar-track {
    @apply bg-muted-2 rounded-3xl;
  }

  * ::-webkit-scrollbar-thumb {
    @apply bg-neutral rounded-2xl border border-primary cursor-grab active:cursor-grabbing;
  }

  button {
    @apply cursor-pointer;
  }
}

@layer utilities {
  .link {
    @apply before:content-[""] before:absolute before:inset-0 before:z-1;
  }
  .flex-place-center {
    @apply flex justify-center items-center;
  }
}

@layer components {
  .white-wrapper {
    @apply outline-2 outline-muted-2/60 bg-neutral rounded-xl;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
