@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-muted: var(--color-black);
  --color-muted-stone: var(--color-stone-800);
  --color-neutral: var(--color-white);
  --color-accent: var(--color-sky-600);
  --font-chakra: var(--font-chakra);
}

@layer base {
  * ::-webkit-scrollbar {
    @apply w-1 h-1;
  }

  * ::-webkit-scrollbar-track {
    @apply bg-muted rounded-3xl;
  }

  * ::-webkit-scrollbar-thumb {
    @apply bg-muted-stone rounded-2xl cursor-grab active:cursor-grabbing;
  }

  button {
    @apply cursor-pointer;
  }
}

@layer utilities {
  .link {
    @apply before:content-[""] before:absolute before:inset-0 before:z-1;
  }
  .flex-place-center {
    @apply flex justify-center items-center;
  }
}

@layer components {
  .white-wrapper {
    @apply outline-2 outline-muted-stone/60 bg-neutral rounded-xl;
  }
  .section {
    @apply max-w-6xl px-4 md:px-6 mx-auto;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
