@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-muted: var(--color-slate-800);
  --color-neutral: var(--color-white);
  --color-primary: var(--color-slate-500);
  --color-accent: var(--color-sky-700);
}

@base {
  body {
    @apply bg-muted;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
