name: Linter

on:
  pull_request:
    branches:
      - main

jobs:
  linter:
    name: Run lint
    runs-on: ubuntu-latest
    env: 
      NEXT_PUBLIC_SERVER_URI: ${{ secrets.NEXT_PUBLIC_SERVER_URI }}

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v4
        with:
          node-version: 25

      - name: Run lint
        run: |
          set -e
          corepack enable
          pnpm install
          pnpm lint
          pnpm build
